.newsletter {
  /*font: 12px Myriad, Helvetica, Tahoma, Arial, clean, sans-serif;
    background-color: #ffffff;*/
}
.newsletterView {
  background: url("../images/mailbox_full.png");
  height: 24px;
  width: 24px;
}
.newsletter {
  /* Override Shell Core */
}
.newsletter .well {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.newsletter .well h3 {
  margin-top: 0;
}
.newsletter .newsletterstep {
  font-size: 100px;
}
.newsletter .table-striped {
  font-size: 14px;
}
.newsletter .container {
  margin-bottom: 150px;
}
.newsletter .fancy-number {
  margin: 5px 0 0 20px;
  font-weight: bold;
  font-size: 70px;
  /*
	    color: #fff;
	    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #C0C0C0, 0 0 70px #C0C0C0, 0 0 80px #C0C0C0, 0 0 100px #C0C0C0, 0 0 150px #C0C0C0;
	
	    text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;
		    */
  color: #999999;
  /*color: rgba(0,0,0,0.5)*/
  text-shadow: 2px 6px 6px rgba(0, 0, 0, 0.2), 0px -5px 35px rgba(255, 255, 255, 0.3);
}
.newsletter ul.list,
.newsletter ul.list li {
  list-style: disc;
  padding-left: 0.5em;
  margin-left: 1em;
}
.newsletter ul.list-indented {
  margin-left: 1em;
}
.newsletter .listAction a:visited {
  color: #428bca;
}
.newsletter .listAction li:before {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: #999999;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0 10px;
  content: "\e080";
}
.newsletter .import-email-address textarea {
  width: 100%;
  font-size: 1.1em;
  padding: 0.5em;
  margin-bottom: 1em;
}
.newsletter .help-text {
  color: #999999;
  font-size: 0.95em;
}
.newsletter p.help-text {
  padding-top: 1em;
}
.newsletter a:visited {
  color: #428bca;
}
.newsletter .btn-primary,
.newsletter .btn-success,
.newsletter .btn-info,
.newsletter .btn-warning,
.newsletter .btn-danger {
  color: #fff !important;
}
.newsletter .figure-left {
  margin-right: 1em;
  max-width: 100%;
  float: left !important;
}
.newsletter .figure-right {
  margin-left: 1em;
  max-width: 100%;
  float: right !important;
}
.newsletter textarea {
  min-height: 3em !important;
}
.newsletter ol li {
  list-style-type: decimal !important;
}
